.loginOrSignUp {
    background-color: grey;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.authenticationDiv {
    background-color: lightgray;
}